/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  A  |  A  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  A  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | TAB |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |          | TAB | TAB |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | POWER  | DEL  | RET  |  SPACE  |   ESC   |          |   TAB   |  TAB	  | TAB  | BSPC  | RGB |
			bindings = <
	&kp TAB   &kp A &kp A &kp E &kp R &kp T                                             &kp Y   &kp U   &kp I   &kp O   &kp P    &kp BSLH
	&kp TAB   &kp A &kp A &kp D &kp F &kp G                                             &kp H   &kp J   &kp K   &kp L   &kp SEMI &kp SQT
	&kp TAB &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT               &kp TAB &kp TAB &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
	                 &ext_power EP_TOG &kp DEL &kp RET &kp SPACE &kp ESC        &kp TAB  &kp TAB  &kp TAB &kp BSPC &rgb_ug RGB_TOG
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
